
ul{margin-left: 10px; margin-top: 20px; padding: 0px; line-height: 21px}
ul1 {position: absolute; left: 160px; top: 20px}
table {border-collapse: collapse;
    width: 100%;}
table th, td {border: 1px solid darkblue; text-align: left;
    padding: 4px 30px 4px 8px}
table tr {border: 1px solid darkblue; padding: 5px}
tr:nth-child(even) {background-color: lightcyan }
div.addbutton {position: fixed; left: 160px}


